In [ ]:
import pandas as pd #reading the files and performing some operations on it
import matplotlib.pyplot as plt #plotting
from sklearn.metrics import r2_score, mean_squared_error #calculating some mathematics
from math import sqrt #maths

%matplotlib inline

In [ ]:
data = pd.read_csv("Advertising.csv", index_col = 0) #csv file in my directory where there is my this code users folder local disk C
data.head() #will show first 5

In [ ]:
# summarize the data
data.describe()

In [ ]:
data.shape #dimension

In [ ]:
data.size #rows * column

In [ ]:
fig,axs = plt.subplots(1,3, sharey = True) #making subplots

In [ ]:
fig,axs = plt.subplots(1,3, sharey = True)
data.plot(kind = "scatter", x = "TV", y = "sales", ax = axs[0], figsize = (16,8))
data.plot(kind = "scatter", x = "radio", y = "sales", ax = axs[1])
data.plot(kind = "scatter", x = "newspaper", y = "sales", ax = axs[2])
#plotting sales against 3 differenet parameters

In [ ]:
feature_cols = ["TV"]
x = data[feature_cols]
y = data.sales

In [ ]:
from sklearn.linear_model import LinearRegression #the basic problem central idea linear regression
lm = LinearRegression()
lm.fit(x,y)

In [ ]:
print(lm.intercept_)  #these are the two terms to accurate our model you know y = mx + c ---- m is slope c is intercept
print(lm.coef_)
#these 2 will pe used to predict the unknown value
#there is some mathematical formula but python libraries make life easy

In [ ]:
#Now we have a linear equation we can use this for prediction
#let say TV advertising spends 50000$
#predict for the sales is as

7.032594 + 0.047537*50
#y = c + mx x is 50 y is to find that is sales

In [ ]:
#till now we have interpret coeff of models and then make a prediction
#now find and analyze residual of model
#then model efficinecy RMSE R-Squared

In [ ]:
X_new = pd.DataFrame({"TV":[50]})
X_new.head()

In [ ]:
lm.predict(X_new) #as u see the prediction is same as we calc before

In [ ]:
X_new = pd.DataFrame({"TV" : [data.TV.min(), data.TV.max()]}) #max and min value in TV col.
X_new.head()

In [ ]:
preds = lm.predict(X_new)
preds
#sales at 0.7 and 296.4
#y_pred = linear_regressor.predict(x)

In [ ]:

data.plot(kind = "scatter", x = "TV", y = "sales")
#plt.plot(X_new, preds, color = "g", linewidth = 2)
#b = np.polyfit(X_new, preds, 1)
#plt.plot(X_new, m*X_new + b)
#data.plot(x='Yr',y='Treg',color='Red',legend=False)
#plt.scatter(x, y)


import seaborn as sns  #other methods not working so use seaborn
#sns.set_style("white")
#sns.set_style("ticks")
#sns.regplot(data.TV, data.sales)
sns.regplot(x = "TV", y = "sales", data = data)

In [ ]:
import statsmodels.formula.api as smf  #for performing statisticals tests
lm = smf.ols(formula = "sales ~ TV", data = data).fit()

In [ ]:
lm.conf_int()
#conf_int reports confidence intervals for each coefficient estimate in a fitted linear regression model, using a sandwich estimator for the standard errors and a small sample correction for the critical values.

In [ ]:
lm.pvalues #p < 0.5 mean variable has some effect and needs to be retained

In [ ]:
lm.rsquared #61% values are available for accurate predictions

In [ ]:
lm.rsquared_adj #use this in case of multiple linear regressions

In [ ]:
#multiple Linear regression
feature_cols = ["TV", "radio", "newspaper"]
X = data[feature_cols]
y = data.sales

In [ ]:
from sklearn import model_selection
xtrain, xtest, ytrain, ytest = model_selection.train_test_split(X,y,test_size = 0.3, random_state = 42)
#splitting into train test data sets

In [ ]:
lm = LinearRegression()
lm.fit(X,y)
print(lm.intercept_)
print(lm.coef_) #coeff for all 3

In [ ]:
TVS = (230.1*0.04576465) + 2.9388893694594085
RD = (37.8*0.18853002)+ 2.9388893694594085
NP = (69.2*(-0.00103749))+ 2.9388893694594085
RES = TVS + RD + NP
yes = 2.9388893694594085 + (230.1*0.04576465) + (37.8*0.18853002) + (69.2*(-0.00103749))
print(RES)
print("Ahhh Now understood how to implement equation")
print(yes)

In [ ]:
data.head(1)

In [ ]:
lm = LinearRegression()
lm.fit(xtrain,ytrain)
print(lm.intercept_)
print(lm.coef_)

In [ ]:
TVS = (230.1*0.04405928) + 2.7089490925159048
RD = (37.8*0.1992875)+ 2.7089490925159048
NP = (69.2*( 0.00688245))+ 2.7089490925159048
yes = 2.9388893694594085 + (230.1*0.04405928) + (37.8*0.1992875) + (69.2*(0.00688245))
print(RES)
print("Ahhh Now understood how to implement equation")
print(yes)

In [ ]:
predictions = lm.predict(xtest)
print((mean_squared_error(ytest, predictions)))  #RMSE

In [ ]:
a = mean_squared_error(ytest, predictions)
print(sqrt(a))

In [ ]:
pred_train = lm.predict(xtrain)

In [116]:
print("Testee data accuracy")
print(r2_score(ytest, predictions))
print("Trainee data accuracy")
print(r2_score(ytrain, pred_train))

Testee data accuracy
0.8609466508230367
Trainee data accuracy
0.9055159502227753

In [ ]:
lm = smf.ols(formula = "sales ~ TV + radio + newspaper", data = data).fit()
lm.conf_int()
lm.summary() #model efficiency
#lower AIC better model

In [ ]:
lm = smf.ols(formula = "sales ~ TV + radio + newspaper", data = data).fit()
lm.rsquared

In [ ]:
len(data)

In [ ]:
import numpy as np
a = np.random.seed(12345)
print(a)

In [ ]:
data.columns

In [ ]:
np.random.seed(12345)

nums = np.random.rand(len(data))
#print(nums)
mask_large = nums > 0.5
data["Size"] = "small"
data.loc[mask_large, "Size"] = "large"
data.head()

In [ ]:
print(nums) #now see how above large small is setted

In [84]:
data["Islarge"] = data.Size.map({"small" : 0, "large" : 1}) #new column
data.head()

      TV  radio  newspaper  sales   Size  Islarge
1  230.1   37.8       69.2   22.1  large        1
2   44.5   39.3       45.1   10.4  small        0
3   17.2   45.9       69.3    9.3  small        0
4  151.5   41.3       58.5   18.5  small        0
5  180.8   10.8       58.4   12.9  large        1

In [85]:
feature_cols = ["TV", "radio", "newspaper", "Islarge"]
X = data[feature_cols]
y = data.sales

lm = LinearRegression()
lm.fit(xtrain,ytrain)
zip(feature_cols, lm.coef_)

In [86]:
np.random.seed(123456)
nums = np.random.rand(len(data))
mask_suburban = (nums > 0.33) & (nums < 0.66)
mask_urban = (nums > 0.66)
data["Area"] = "rural"
data.loc[mask_suburban, "Area"] = "suburban"
data.loc[mask_urban, "Area"] = "urban"
data.head() 

#same as bef method new col and some value criteria

      TV  radio  newspaper  sales   Size  Islarge      Area
1  230.1   37.8       69.2   22.1  large        1     rural
2   44.5   39.3       45.1   10.4  small        0     urban
3   17.2   45.9       69.3    9.3  small        0     rural
4  151.5   41.3       58.5   18.5  small        0     urban
5  180.8   10.8       58.4   12.9  large        1  suburban

In [89]:
area_dummies = pd.get_dummies(data.Area, prefix = "Area").iloc[:,1:] #this iloc is removing Area_rural dummy
area_dummies

     Area_suburban  Area_urban
1                0           0
2                0           1
3                0           0
4                0           1
5                1           0
..             ...         ...
196              1           0
197              0           1
198              1           0
199              0           0
200              0           0

[200 rows x 2 columns]

In [90]:
data = pd.concat([data, area_dummies], axis = 1)
data.head()

,TV,radio,newspaper,sales,Size,Islarge,Area,Area_suburban,Area_urban
1,230.1,37.8,69.2,22.1,large,1,rural,0,0
2,44.5,39.3,45.1,10.4,small,0,urban,0,1
3,17.2,45.9,69.3,9.3,small,0,rural,0,0
4,151.5,41.3,58.5,18.5,small,0,urban,0,1
5,180.8,10.8,58.4,12.9,large,1,suburban,1,0

In [105]:
feature_cols = ["TV", "radio", "newspaper", "Islarge", "Area_suburban", "Area_urban"]
X = data[feature_cols]
y = data.sales

lm = LinearRegression()
lm.fit(X,y)
print(feature_cols, lm.coef_) #coef_ represents coefficinet of linear equation
print(lm.intercept_)

['TV', 'radio', 'newspaper', 'Islarge', 'Area_suburban', 'Area_urban'] [ 0.04574401  0.1878667  -0.0010877   0.07739661 -0.10656299  0.26813802]
2.8741909890879125

In [ ]:
(2.874+(37.8*0.1878667) + (230.1*0.04574401) +(69.2*(-0.001087))+(1*0.07739661))

In [ ]:
(2.874+(10.8*0.1878667)) + (2.874+(180.8*0.04574401)) + (2.874+(58.4*(-0.001087)))

In [ ]:
(2.874+(230.1*0.04574401))

In [ ]:
#2.9388893694594085
#[ 0.04576465  0.18853002 -0.00103749]

In [93]:
7.0325935491276965+(230.1*0.04753664)

17.970774413127696

In [117]:
feature_cols = ["TV", "radio", "newspaper", "Islarge", "Area_suburban", "Area_urban"]
X = data[feature_cols]
y = data.sales

In [118]:
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [119]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [120]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression()

In [121]:
pred = lm.predict(x_test)
pred[0:5]

array([16.6746768 , 20.9295075 , 21.73322815, 10.91830277, 22.33908039])

In [122]:
y_test[0:5]

96     16.9
16     22.4
31     21.4
159     7.3
129    24.7
Name: sales, dtype: float64

In [115]:
print(r2_score(pred,y_test))

0.8476288026903777

In [123]:
print((mean_squared_error(y_test, pred)))

3.8199642973480894